* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
}
.field {
  display: flex;
  flex-direction: column-reverse;
  border: #e0d9d9 solid 1px;
  border-radius: 3px;
  margin-top: 5px;
  margin-right: 5px;
  align-items: center;
  width: 45px;


}
.value {
  font-size: 32px;
  
}
.label {
  font-size: 10px;
}


